<h3 class='main_header'>My TODO Lists</h3>
<div class="lists" id="lists">
<ul class="lists">
<% @lists.each do |list| %>
<%= render list %>
<% end  %>
 <div id='lists_empty' class='centre hero-unit'>You have no lists ! Create a list now !</div>  <!--We show this if there are no lists and hide it if a list  is created-->
</ul>
</div>